body {
    color: #ffffff;
    background: #222231;
}
.fw-light {
	color: #fff;
}
/*nav*/
#main-nav>ul>li>a.current-item {
    color: #DC39FC!important;
}
#main-nav>ul>li>a {
    position: relative;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    display: block;
    color: #fff;
    padding-right: 14.5px;
}
.sticky-top {
	box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 50%);
}
.bg-dark {
	background: #06060e!important;
}



/*background*/
.round-effect .primary-round {
	    background-color: #1066e7 !important;
}
.round-effect .primary-round {
    Left: 0 !important;
    left: auto;
}
.round-effect .primary-round {
    top: 5%;
    left: 0;
    background-color: #1066e7;
}
.round-effect .primary-round, .round-effect .gradient-round {
    position: fixed;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    filter: blur(100px);
    pointer-events: none;
    z-index: -1;
}


.round-effect .gradient-round {
    Right: 0 !important;
    right: auto;
}
.round-effect .gradient-round {
    bottom: 5%;
    right: 0;
    background-color: #ffa432;
}
.round-effect .primary-round, .round-effect .gradient-round {
    position: fixed;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    filter: blur(100px);
    pointer-events: none;
    z-index: -1;
}
.opacity-3 {
    opacity: 0.3;
}







/*grid*/

.product-grid {
    background-color: #343444;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    border-radius: 20px;
	margin-bottom: 20px;
}

.product-grid .product-image {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.product-grid .product-image a.image {
    display: block;
}
.product-grid .product-image img {
    width: 100%;
    height: auto;
	border-radius: 12px;
	background: #3e3e4b;
}
.product-grid .product-view,
.product-grid .add-cart {
    color: #555;
    font-size: 14px;
    padding: 11px 17px 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 70%;
    left: 50%;
    transition: all 0.5s ease;
}
.product-grid:hover .product-view {
    opacity: 1;
    top: calc(50% - 28px);
}
.product-grid:hover .add-cart {
    opacity: 1;
    top: calc(50% + 28px);
}
.product-grid .product-links {
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
}
.product-grid:hover .product-links {
    opacity: 1;
}
.product-grid .product-links li {
    margin: 7px 0;
}
.product-grid .product-links li a {
    color: #555;
    font-size: 16px;
    transition: all 0.4s ease;
}
.product-grid .product-links li a:hover {
    color: #0775c0;
}
.product-grid .product-content {
    text-align: left;
    padding: 15px;
}
.product-grid .title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0px;
}
.product-grid .title a {
    color: #fff;
	text-decoration: none;
    transition: all 0.3s ease 0s;
}
.product-grid .title a:hover {
    color: #DC39FC;
}
.product-grid .price {   
    font-weight: 600;
	font-size: 14px;
	color: #fff;
}
.product-grid .price span{
    font-weight: 300;
}
@media screen and (max-width: 990px) {
    .product-grid {
        margin-bottom: 30px;
    }
}


/*product image*/

.sc-button.style {
	top: 70%;
	left: 50%;
	transform: translate(-50%,-30%);
	padding: 10px;
	width: 56%;
	text-align: center;
	border: 0;
	background-size: 200% auto;
	background-image: linear-gradient(130.35deg,#6345ED 17.35%,#6345ED 78.23%);
	color: #fff;
	opacity: 0;
	border: unset;
	background-size: 200% auto;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	color: #fff;
	text-decoration: none;
}
.sc-button.style:hover::after {
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: #fff;
}
.sc-button.style::after {
	content: "";
	position: absolute;
	border-radius: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-image: linear-gradient(130.35deg,#6345ED 17.35%,#DC39FC 78.23%);
	opacity: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: #fff;
}



.sc-button span, .sc-button span::before {
	color: #fff;
	z-index: 2;
	position: relative;
}

.sc-button:hover {
	border: 0
}

.sc-button {
	top: 50%;
	opacity: 1;
	border-radius: 100px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

/*label*/
.product-grid label, .labelKey label {
    font-size: 14px;
}
.product-grid label, .labelKey label {
    background: linear-gradient(124.27deg,#6345ED 15.3%,#DC39FC 69.02%);
    border-radius: 10px;
    font-size: 14px;
}
.labelKey label {
	z-index: 2;
	position: relative;
    transform: translateY(50%);
    padding: 8px;
    background-color: #6345ed;
    border-radius: 5px;
	float: right;
    font-size: 10px;
    color: #fff;
    font-weight: 600;
}
.labelKey label {
	margin-left: 10px;
}
.labelKey {
		color: #bbb;
		float: right;
		line-height: 50px;
		font-size: 12px;
}
.product-grid label {
    //right: 15px;
	z-index: 2;
	position: relative;
    transform: translateY(50%);
    padding: 8px;
    background-color: #6345ed;
    border-radius: 5px;
	float: right;
	//margin-top:-35px;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}


/*filter*/
.select-box {
    margin-bottom: 20px;
}
.select-box {
    padding: 30px 35px 30px 30px;
    box-shadow: 4px 4px 60px rgb(99 69 237 / 15%);
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #343444;
}



.select-box .sc-button {
    height: 50px;
	width: 120px; 
	margin: 0 5px;
    text-align: center;
    line-height: 50px;
    flex-shrink: 0;
	padding: 0 25px!important;
    padding: 0;
}
.select-box .btn{
	border-radius: 100px!important;
	padding: 0 25px!important;
	height: 50px;
}

.sc-button {
    display: inline-block;
    position: relative;
    padding: 9px 22px;
    border-radius: 100px!important;
    border: 0;
    outline: 0;
    cursor: pointer;
    z-index: 1;
}
.sc-button {
    background-image: linear-gradient(132.41deg,#6345ED 18.03%,#DC39FC 81.29%);
}
button, input[type=button], input[type=reset], input[type=submit] {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    background-color: var(--primary-color3);
    color: #fff;
    border-radius: 30px;
    padding: 15px 39px;
    border: 1px solid var(--primary-color3);
    display: inline-block;
    -webkit-appearance: none;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    transition: all ease .3s;
}
button, input[type=button], input[type=reset], input[type=submit] {
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: button;
    border: 0;
}
button, input, select, textarea {
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    vertical-align: baseline;
}
button, input {
    line-height: normal;
}
body, button, input, select, textarea {
    font-family: urbanist,sans-serif;
    color: var(--color-1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 15px;
}
/*back to top*/
.float-end a {
	color: #fff!important;
	font-size: 20px;
	background-image: linear-gradient(132.41deg,#6345ED 18.03%,#DC39FC 81.29%);
	padding: 10px 15px;
	border-radius: 10px;
}



.masthead {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.masthead .btn{
	text-decoration: none;
	font-weight: bold;
	margin-right: 10px;
}
.img-home-1 {
  animation: MoveUpDown 3s linear infinite;
  position: relative;
  right: 0;
  float: right;
  bottom: 0;
}
.img-home-1 img {
	    float: right;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}
.masthead h1 {
	font-size: 70px;
	line-height: 1.07;
    letter-spacing: -2px;
    margin-bottom: 28px;
	font-weight: 700!important;
}





/*——details page—*/

.tf-section {
    padding: 100px 0;
}
.tf-section {
    padding: 80px 0;
    margin-bottom: 0!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.item-details-page .item-media {
    position: relative;
}
.item-details-page .item-media .media {
    border-radius: 12px;
    overflow: hidden;
}
.media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.item-details-page .item-media .media img {
    width: 100%;
}
.item-details-page .content-item {
    padding-left: 50px;
}
.item-details-page .content-item h3{
    font-weight: 700!important;
	margin-bottom: 30px;
}

.item-details-page .author-bid {
    display: flex;
    margin-right: 19px;
    margin-left: 3px;
    margin-bottom: 20px;
}
.item-details-page .author-bid .author-item:first-child {
    margin-right: 30px;
}
.item-details-page .author-bid .author-item {
    background:#343444;
    box-shadow: 4px 4px 60px rgb(99 69 237 / 15%);
    border-radius: 8px;
	    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 15px 20px;
    width: 100%;
}
.item-details-page .author-item {
    margin-top: 10px;
	color: #fff;
}
.item-details-page .author-item h6 {
    font-weight: bold;
	font-size: 14px;
	opacity: .4;
}
.item-details-page .author-item p {
    font-weight: bold;
	font-size:24px;
	margin: 0;
}
.item-details-page .author-item span:first-child{
    width: 50px;
	display: block;
	float: left;
	font-weight: bold;
	position: relative;
}

.item-details-page .author-item span:last-child{
    width: 230px;
	display: block;
	float: right;
	text-align: right;
	position: relative;
}
.item-details-page .author-item ul{
    list-style: none;
	padding: 0;
	margin:0;
}
.item-details-page .author-item ul li{
    padding: 15px 0;
}
.item-details-page .author-item .sc-button {
	font-weight: bold;
    float: right;
	margin-top: -50px;
}


/*——mint—*/
.mint {
	text-align:center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.mint h1  {
	font-weight: 700!important;
	font-size: 40px;
}
.mint p  {
	font-size: 16px!important;
	margin-bottom: 40px;
}

.mint img  {
	margin-bottom: 30px;
	width: 100%;
	max-width: 280px;
	
}

.mint .img-home-1 {
    animation: MoveUpDown 3s linear infinite;
    position: relative;
    right: auto;
    float: none;
    bottom: 0;
}

/*--minting—*/

.clipped-box {
	cursor: pointer;
	-webkit-transition: top 1.2s linear;
	transition: top 1.2s linear;	
}
.clipped-box div {
	z-index: 9999999;
	color: #fff;
	font-size: 1em;
	padding:30px 20px 0 20px;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background:#343444;
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.15);
}
.clipped-box, .clipped-box div {
	width: 350px;
	height: 300px;
	position: relative;
}
.clipped-box div {
	position: absolute;
	top: auto;
	left: 0;
	-webkit-transition: -webkit-transform 1.4s ease-in, background 0.3s ease-in;
	transition: transform 1.4s ease-in, background 0.3s ease-in;
}
.clipped-box div img {
	width: 100%;
}
.reveal img {
	width: 100%;
}
.reveal  {
	width: 350px;
	min-height: 300px;
	margin-top: -300px;
	padding: 20px;
	margin-bottom: 20px;
}



